.user{
    background-color: black;
    color: white;
    margin: 3px;
    display: flex;
    text-align: start;
}
.user h1{
    font-size: 20px;
}
.user li{
    color: yellow;
}
.user__img{
    width: 100px;
}
.userList{
    width: 300px;
    float: right;
    height: 200px;
    background-color: rgb(83, 83, 83);
    overflow: scroll;
    padding: 20px 0;
    cursor: pointer;
}