
.App {
  text-align: center;
  /* display: flex; */
height: 100%;
 
}
.calendar{
  height: 400px;
  /* margin-top: 710px; */
}

#custom-orange{
  background-color: #FAA74A;
}

.link-style {
   text-decoration: none;
}