
.dropzone-contain {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    z-index: 1000;
    top: 70px;
    left: 30px; 
    width:330px;
    height: 560px;
    background-color: #262626;
    color: whitesmoke;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

.image-background {
background-color: #232323;
}

.dzimage {
    max-width: 430px;
    max-height:300px;
    
}

.dzuser {
    display: block;
    color: orange;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #323232;
    width: 400px;
    text-align: center;
    margin: 5px;
}


#video-background {
    /*  making the video fullscreen  */
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}